.main {
  text-align: center;
  font-size: 40px;
}
.result {
  text-align: center;
  font-size: 30px;
  margin: 20px;
  /* background-color: gray;; */
}

.btn {
  color: white;
  padding: 10px;
  width: 100px;
  height: 100px;
  border: black;
  border-radius: 50%;
  text-align: center;
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.bg-red {
  background-color: red;
}
.bg-black {
  background-color: black;
}
.bg-green {
  background-color: green;
}
.bg-blue {
  background-color: blue;
}
